@import "../colors.scss";

.help {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    article {
        height: auto;
        font-size: 15pt;
        max-width: 80%;

        h1 {
            border-bottom: 1pt solid white;
        }

        h2 {
            color: $ambient;
            font-size: 15pt;
        }

        .ok {
            width: 100%;
            text-align: center;
            margin-top: 3em;

            a {
                color: $ambient;
            }
        }
    }
}
