@import "../colors.scss";

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    article {
        height: auto;
        font-size: 20pt;
        max-width: 80%;

        h1 {
            border-bottom: 1pt solid white;
        }

        p {
            span {
                color: $ambient;
            }
        }

        .help {
            width: 100%;
            text-align: center;
            margin-top: 3em;

            a {
                color: $ambient;
            }
        }
    }
}
