@import "../../colors.scss";

.volume {
    width: 100%;
    height: 10%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    top: 10px;
    position: absolute;
    box-sizing: border-box;

    input {
        width: 100%;
        margin: 0 10px;
        height: 40px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: $ui-bg;

        &::-moz-range-track {
            background-color: transparent;
        }

        &::-moz-range-thumb {
            background-color: darken($ambient, 30%);
            height: 40px;
            width: 40px;
            -moz-appearance: none;
            border-radius: 0;
            border: none;
        }

        &::-webkit-slider-thumb {
            background-color: darken($ambient, 30%);
            height: 40px;
            width: 40px;
            -webkit-appearance: none;
        }
    }
}

@media (min-width: 600px) {
    .volume {
        width: 300px;
        height: 40px;
        bottom: 40px;
        top: unset;
    }
    }
