@import "./saxmono/index.scss";
@import "./colors.scss";

html, body {
    font-family: 'saxmono', 'Roboto', 'Arial';
    background-color: $grey;
    color: $white;
    height: 100%;
    width: 100%;
    margin: 0;
}

:global {
    #root {
        height: 100%;
    }

    a, a:active, a:hover, a:visited {
        color: $white;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}
