@import "../../colors.scss";

.bar {
    width: 100%;
    height: 10%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    bottom: 20px;
    position: absolute;
    box-sizing: border-box;

    div {
        &.button {
            cursor: pointer;

            &.active {
                background: darken($ambient, 30%) !important;
                color: $ui-bg !important;
            }
        }

        transition: all 0.5s ease;
        height: 100%;
        background: $ui-bg;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        flex-direction: column;
        flex-grow: 1;
        color: $ambient;

        p {
            margin: 0.2em;
        }
    }
}

@media (min-width: 600px) {
    .bar {
        width: 300px;
        height: 70px;
        min-height: 75px;
        bottom: 15px;

        div {
            height: 70px;

            p {
                margin: 0;
            }
        }
    }
}
